html body {
    height: 100%;
}

.logo-div {
    text-align: center;
}

.logo {
    height: 92px;
    width: 272px;
}

.home-search-div {
    text-align: center;

}

.home-buttons {
    text-align: center;

}

.home-search-bar {
    width: 50%;
    padding: 10px 8px;
    border-radius: 50px;
    border-color: #DDDDDD;
    border-width: 1px;
    border-style: solid;
    font-family: arial, sans-serif;

}

.home-search-div {
    padding: 20px;
}

.home-search-button {
    color: #5F6368;
    height: 36px;
    margin: 11px 4px;
    padding: 0px 16px;
    font-size: 14px;
    border: 1px;
    border-radius: 2px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.home-search-button:hover {
    box-shadow: 1px 1px 2px;
    border-radius: 1px;
}

/* Nav Bar */
nav {
    margin: 0px;
    padding: 8px;
    margin-bottom: 109px;
    list-style-type: none;
}

#header-left {
    display: inline-block;
    margin-right: 60%;
}

#header-right {
    display: inline-block;
}

li {
    display: inline;
    padding-left: 15px;
    font: arial, sans-serif;
}


.footer {
    display: flex;
    justify-content: space-between;
}

.footer-left {
    margin-right: auto;
}

.footer-right {

}
/* OLD FOOTER SYLING
footer {
    display: inline-block;
    width: 100%;
    position: fixed;
    margin: auto;
    bottom: 0;
    background: #F2F2F2;
}




#footer-left { 
    display: inline-block;
    margin-right: 550px;
}

#footer-right {
    display: inline-block;
    text-align: right;
}

*/

a {
font-family: arial, sans-serif;
font-size: 13px;
color: rgba(0,0,0,0.87);
text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

